*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.log-in{
    background-color: #160E0B;
}
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.login-container  h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.login-container  .form-group {
    margin-bottom: 15px;
}
.login-container  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}
.login-container  .btn:hover {
    background-color: #0056b3;
}
.login-container  .text-muted {
    margin-top: 15px;
    text-align: center;
}
.login-container  .text-muted a {
    color: #007bff;
    text-decoration: none;
}
.login-container  .text-muted a:hover {
    text-decoration: underline;
}
@media (max-width: 576px) {
    .login-container  {
        padding: 20px;
    }
}